<!DOCTYPE html> 
<html>     
  <head>
    <title>Bed</title>
    <link rel="stylesheet" href="../../static/css/call.css">
  </head>
<body>
  <div class="flex-container">
    <header class="header">Room #7</header>
    <div class="row">
      <div class="column" style="background-color:rgb(251, 255, 0); color:rgb(0, 0, 0);">
        <a href={{url_for('home')}}> bed up
          <img src="../../static/css/resources/arrowup.jpeg" atl="window" class="square">
        </a>
      </div>
      <div class="column" style="background-color:rgb(153, 153, 153);">
        <a href={{url_for('home')}}> bed down
          <img src="../../static/css/resources/arrow down.png" atl="window" class="square">
        </a>
      </div>
    </div>
    <footer class="footer">Made by Morgan King, Keshav Raviprakash, Eric Chow, and Ahmed Legesse</footer>
  </div>
</body>
</html>