<!DOCTYPE html> 
<html>     
  <head>
    <title>Lights</title>
    <link rel="stylesheet" href="../../static/css/call.css">
  </head>
<body>
  <div class="flex-container">
    <header class="header">Room #7</header>
    <div class="row">
        <!-- lights on and off -->
        <div class="column" style="background-color:rgb(251, 255, 0); color:rgb(0, 0, 0);">
            <a href="{{url_for('toggle_lights')}}"> Lights On/Off
                <img src="../../static/css/resources/lightbulb.png" atl="lights " class="square">
            </a>
        </div>
        <!-- cancel -->
        <div class="column" style="background-color:rgb(153, 153, 153);">
            <a href={{url_for('home')}}> Cancel 🚫</a>
        </div>
    </div>
    <footer class="footer">Made by Morgan King, Keshav Raviprakash, Eric Chow, and Ahmed Legesse</footer>
  </div>
</body>
</html>