<!DOCTYPE html>
<html>
    <head>
        <title>Call the nurse</title>
        <link rel="stylesheet" href="../../static/css/style.css">
    </head>
<body>
    <div class="flex-container">
      <header class="header">Room #7</header>
        <div class="row">
            <div class="column" style="background-color:rgb(251, 255, 0); color:rgb(0, 0, 0);">
                <a href={{url_for('home')}}> thirsty
                    <img src="../../static/css/resources/cupofwater.png" atl="thirsty" class="square">  </a>
            </div>
            <div class="column" style="background-color:rgb(153, 153, 153);">
                <a href={{url_for('home')}}> hungry
                    <img src="../../static/css/resources/meal.jpeg" atl="hungry" class="square">  </a>
            </div>
        </div>
        <div class="row">
            <div class="column" style="background-color:rgb(80, 201, 0);">
                <a href={{url_for('home')}}> toilet
                    <img src="../../static/css/resources/cupofwater.png" atl="toilet" class="square">  </a>
            </div>
            <div class="column" style="background-color:rgb(255, 0, 0);">
                <a href={{url_for('home')}}> toilet#2
            <img src="../../static/css/resources/poop.jpeg" atl="poop" class="square">  </a>
            </div>
        </div>
    <footer class="footer">Made by Morgan King, Keshav Raviprakash, Eric Chow, and Ahmed Legesse</footer>
    </div>
</body>
</html>














    