<!DOCTYPE html>
<html>     
<head>
	<title>Team 3 for McKenneys</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
  <body>
    <div class="flex-container">
      <header class="header">Room #7</header>
      <div class="row">
        <div class="column" style="background-color:rgb(0, 255, 242); color:rgb(0, 0, 0);">
              <a href={{url_for('body')}}> Body ✋🦶
                  <img src="../static/css/resources/body.png" atl="body function" class="square" >
              </a>
        </div>
        <div class="column" style="background-color:rgb(55, 11, 250);">
              <a href={{url_for('room')}}> Room 🥵🥶
                  <img src="../static/css/resources/bed.webp" atl="room comfort" class="square" >
              </a>
        </div>
      </div>
      <div class="row">
        <div class="column" style="background-color:rgb(196, 0, 186);">
                  <a href={{url_for('call')}}> Call nurse 👩‍⚕️           
                      <img src="../static/css/resources/nurse.png" atl="call nurse" class="square" >
                  </a>
        </div>
        <div class="column" style="background-color:rgb(255, 0, 0);">
              <a href={{url_for('emergency')}}> Emergency 🚨⚠️
                  <img src="../static/css/resources/emergency.png" atl="emergency!" class="square" >
              </a>
        </div>
      </div>
      <footer class="footer">Made by Morgan King, Keshav Raviprakash, Eric Chow, and Ahmed Legesse</footer>
    </div>
  </body>
</html>