<!DOCTYPE html>
<html>     
  <head>
    <title>Call the nurse</title>
    <link rel="stylesheet" href="../../static/css/call.css">
  </head>
<body>
  <div class="flex-container">
    <header class="header">Room #7</header>
    <div class="row">
    <div class="column" style="background-color:rgb(251, 255, 0); color:rgb(0, 0, 0);">
          <a href="#"> Call nurse 👩‍⚕️
              <img src="../../static/css/resources/nurse.png" atl="call nurse" class="square">
          </a>
    </div>
    <div class="column" style="background-color:rgb(153, 153, 153);">
          <a href={{url_for('home')}}> Cancel 🚫</a>
    </div>
    </div>
    <footer class="footer">Made by Morgan King, Keshav Raviprakash, Eric Chow, and Ahmed Legesse</footer>
  </div>
</body>
</html>